body 
{

background: papayawhip;
color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin: 0;
padding: 0.5em;
}
#container
{
    font-size: 20px;
-webkit-box-shadow: inset 13px 21px 67px 26px rgba(21,55,77,0.58);
-moz-box-shadow: inset 13px 21px 67px 26px rgba(21,55,77,0.58);
box-shadow: inset 13px 21px 67px 26px rgba(21,55,77,0.58);
width: 80%;
padding: 0;  
text-align: left;
box-shadow: 0px 2px 20px 0px rgba(64, 95, 95, 0.9);
border: 1px solid #ddd;
margin: 0 auto;

}
#P1
{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
padding: 1em;
}

#P2
{
font-size: 16px;
background: rgb(57, 57, 105);
-webkit-box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
-moz-box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: papayawhip;
padding: 1em;
}

#footer
{
    font-size: 14px;
    -webkit-box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
    -moz-box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
    box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(57, 57, 105);
    width: 80%;
    padding: 0;  
    text-align: center;
    margin: 0 auto;
    color: papayawhip;
}

#cabecera
{ 
    -webkit-box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
    -moz-box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
    box-shadow: inset 10px 10px 68px -16px rgba(0,0,0,1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(57, 57, 105);
    width: 80%;
    padding: 0;  
    text-align: left;
    margin: 0 auto;
    color: papayawhip;
    text-align: center;
}
#cabecera:hover{
    color:azure;
}
#cabecera_2
{ 
text-align: center;
font-weight: bold;
margin:0;
padding: 0.8em;
border: 1px solid #ddd;
background: rgb(207, 207, 224);;
}
#foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    border-radius: 4px;
    
}
#foto:hover {
    filter: grayscale(80%);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#foto1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    border-radius: 4px;
    
}
#foto1:hover{
    filter: blur(5px);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#foto1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    border-radius: 4px;
    
}
#foto2:hover {
    filter: opacity(.5);
}
#cabecera #tagline 
{
text-align: center;
padding: 0 0 0 1em ;
font-weight: normal;
font-size: 0.5em;
}
